{% if categories %}
    <ul class="list1">
        {% for category in categories %}
            <li><a href="{% url 'shop:product_list' %}?category__name={{ category.name }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}