{% if categories %}
    <section class="sky-form">
        <h4>Categories</h4>
        <div class="row row1 scroll-pane">
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="category__name" value="all"><i></i>ALL</label>
                {% for category in categories %}
                    {% if category.name in params.category__name %}
                        <label class="checkbox"><input type="checkbox" name="category__name" value="{{ category.name }}" checked><i></i>{{ category.name }}</label>
                    {% else %}
                        <label class="checkbox"><input type="checkbox" name="category__name" value="{{ category.name }}"><i></i>{{ category.name }}</label>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% if colour %}
    <section class="sky-form">
        <h4>Color</h4>
        <div class="row row1 scroll-pane">
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="color__name_en" value="all"><i></i>ALL</label>
                {% for color in colour %}
                    {% if color.name_en in params.color__name_en %}
                        <label class="checkbox"><input type="checkbox" name="color__name_en" value="{{ color.name_en }}" checked><i></i>{{ color }}</label>
                    {% else %}
                        <label class="checkbox"><input type="checkbox" name="color__name_en" value="{{ color.name_en }}"><i></i>{{ color }}</label>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% if sizes %}
    <section class="sky-form">
        <h4>Size</h4>
        <div class="row row1 scroll-pane">
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="stock__size" value="all"><i></i>ALL</label>
                {% for item in sizes %}
                    {% if item.size in params.stock__size %}
                        <label class="checkbox"><input type="checkbox" name="stock__size" value="{{ item.size }}" checked><i></i>{{ item.size }}</label>
                    {% else %}
                        <label class="checkbox"><input type="checkbox" name="stock__size" value="{{ item.size }}"><i></i>{{ item.size }}</label>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}