{% load staticfiles product_tags %}

<div style="padding: 2em;">
    <div style="margin-bottom: 1em; text-align: center;">
        <img src="http://www.aquanineth.com{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <div style="background-color: #999999; color: #ffffff; padding: 10px; margin-bottom: 10px; text-align: center;">
        ถ้าอีเมลนี้อยู่ใน Junk Mail หรือ อีเมลขยะ อย่าลืมกดย้ายไปอยู่ใน inbox ด้วยนะคะ
        เพื่อป้องกันไม่ให้พลาดข้อมูลจากเราอีก
    </div>
    <h3 style="font-size: 1.17em">หมายเลขคำสั่งซื้อ (Order ID): {{ order.id|stringformat:"06d" }}</h3>
    <p>
        คุณสั่งซื้อเสร็จเรียบร้อยแล้ว ขอบคุณที่ซื้อสินค้ากับ <a href="http://www.aquanineth.com/">AquanineTH.com</a> ค่ะ<br>
        กรุณาชำระเงินภายใน <span style="color: #a94442">48 ชม.</span> หลังจากนั้น Order นี้จะถูกยกเลิก<br>
        กรุณาชำระเงินเป็นเศษสตางค์(จุดทศนิยม)เท่าไหร่ก็ได้ เช่น {{ order.cart.total|floatformat:0 }}.07
        หลังจากโอนเงินแล้ว <a href="http://www.aquanineth.com/">สามารถแจ้งการโอนเงินได้ที่นี่</a><br>
        สินค้าจะถูกจัดส่งภายในวันทำการถัดไป หลังจากที่การชำระเงินเรียบร้อยแล้ว<br>
        เมื่อส่งสินค้าแล้ว เราจะแจ้งเลขพัสดุให้ทาง Email และ SMS
    </p>
    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">ราคาสินค้าทั้งหมด</div>
    <p>ยอดเงินทั้งหมด: <b>{{ order.cart.total }} บาท</b></p>
    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">คุณเลือกชำระเงินโดย</div>
    <p>การโอนเงินเข้าบัญชีธนาคาร ท่านสามารถชำระเงินโดยการโอนเงินผ่านธนาคารได้ดังนี้</p>
    <div style="border: 1px solid black; padding: 0 10px">
        <p>
            ชื่อบัญชี: นายอธิเมศร์ อิทธิธรรมพัชร์<br>
            ประเภทบัญชี: ออมทรัพย์<br>
        </p>
        <table style="margin-bottom: 10px;">
            <tr>
                <td style="padding-right: 5px;"><img src="http://www.aquanineth.com{% static 'images/bank_kbank.jpg' %}"
                                                     alt="kbank" style="width: auto; height: auto;"></td>
                <td style="padding-right: 20px;">ธนาคาร กสิกรไทย</td>
                <td style="padding-right: 20px;">เลขบัญชี 732-2-59507-3</td>
                <td>สาขา เดอะมอลล์บางกะปิ</td>
            </tr>
            <tr>
                <td style="padding-right: 5px;"><img src="http://www.aquanineth.com{% static 'images/bank_scb.jpg' %}"
                                                     alt="scb" style="width: auto; height: auto;"></td>
                <td style="padding-right: 20px;">ธนาคาร ไทยพานิชย์</td>
                <td style="padding-right: 20px;">เลขบัญชี 181-209107-3</td>
                <td>สาขา ตลาดยิ่งเจริญ</td>
            </tr>
        </table>
    </div>
    <p>กรุณาแจ้งการการชำระเงินภายใน <span style="color: #a94442">48</span> ชั่วโมงหลังสั่งซื้อสินค้า
        หากเกินระยะเวลาดังกล่าวทางเราขออนุญาติทำการยกเลิกคำสั่งซื้อโดยอัตโนมัติ
        ทั้งนี้เพื่อเป็นการเปิดให้โอกาสให้กับท่านอื่นได้เลือกซื้อของค่ะ ต้องขออภัยในความไม่สะดวกนี้ด้วยนะคะ</p>
    <p><a href="http://www.aquanineth.com/">คลิกเพื่อแจ้งชำระเงิน</a> หรือทาง Line: @aquanine หรือคลิ๊ก <a
            href="http://line.me/ti/p/%40aquanine" target="_blank">http://line.me/ti/p/@aquanine</a></p>

    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">สินค้าจะถูกส่งไปตามที่อยู่ด้านล่างนี้
    </div>
    <p>
        {{ order.member.user.first_name }} {{ order.member.user.last_name }}<br>
        เบอร์โทรศัพท์ {{ order.member.phone }}<br>
        {{ order.member.address }}<br>
        {{ order.member.province }} {{ order.member.zipcode }}
    </p>

    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">วิธีการจัดส่งสินค้า</div>
    <p>
        จัดส่งแบบ <span style="font-weight: bold;">{{ order.deliver_by|deliver_to_name }}</span><br>
        (โดยไปรษณีย์ไทย)
    </p>

    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">สถานะการชำระเงิน</div>
    <p>
        {% if order.is_confirm %}
            ชำระเงินแล้ว
        {% else %}
            รอการชำระเงิน
        {% endif %}
    </p>

    <table style="border-spacing: 0; border-collapse: collapse; background-color: transparent; width: 100%; max-width: 100%; margin-bottom: 20px; border-bottom: 1px solid #ddd;">
        <thead>
        <tr>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                รายละเอียดคำสั่งซื้อ
            </th>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                รายละเอียด
            </th>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                จำนวน
            </th>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                ราคารวม
            </th>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                Comment
            </th>
        </tr>
        </thead>
        <tbody>
        {% for its in items %}
            <tr style="height: 65px; line-height: 65px; border-bottom: 1px solid #d7dbe0;">
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                    <img src="http://www.aquanineth.com/media/{{ its.item.product.image }}"
                         style="vertical-align: bottom; border: 1px solid #ddd; margin-bottom: 4px; width: auto; height: 80px;">
                </td>
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                    {{ its.item.product.name }}<br>
                    ไซส์: {{ its.item.size|upper }}<br>
                    ราคา: ฿{{ its.item.product.price }}
                </td>
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">{{ its.quantity }}
                    ชิ้น
                </td>
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                    ฿{{ its.quantity|item_total_price:its.item.product.price }}</td>
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">{{ its.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table style="width: 100%; font-weight: bold; margin-top: 1em; border-spacing: 0; border-collapse: collapse; background-color: transparent;">
        <tr>
            <td colspan="2" style="padding: 10px 20px;">ราคารวมของสินค้า</td>
            <td colspan="2" style="padding-right: 20px; text-align: right;">{{ order.cart.product_total }} บาท
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 10px 20px;">ค่าจัดส่ง</td>
            <td colspan="2" style="padding-right: 20px; text-align: right;">{{ order.cart.tax_delivery }} บาท
            </td>
        </tr>
        <tr style="background-color: #EEEEEE">
            <td colspan="2" style="padding: 10px 20px;"><b>ราคารวมทั้งหมด</b></td>
            <td colspan="2" style="padding-right: 20px; text-align: right;"><b>{{ order.cart.total }} บาท</b>
            </td>
        </tr>
    </table>
    <hr>
    <div style="text-align: center;">
        <p><a href="http://www.aquanineth.com/"></a>www.aquanineth.com | Tel. 083-064-5249 (9:00-20:00)</p>
        <p>Line: <a href="http://line.me/ti/p/%40aquanine" target="_blank">@aquanine</a> | Facebook: <a
                href="https://www.facebook.com/aquanine" target="_blank">aquanine</a></p>
        <p>Copyright &reg; 2016, Aquanine Brand All right Reserved.</p>
    </div>
</div>