{% load staticfiles product_tags %}

<div style="padding: 2em;">
    <div style="margin-bottom: 1em; text-align: center;">
        <img src="http://www.aquanineth.com{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <h3 style="font-size: 1.17em">หมายเลขคำสั่งซื้อ (Order ID): {{ payment.order.id|stringformat:"06d" }}</h3>

    <a href="http://www.aquanineth.com{% url 'shop:order_confirm' payment.order.id %}" target="_blank"><button>กดที่นี่! เพื่อยืนยันการชำระเงิน</button></a> | <a href="http://www.aquanineth.com{% url 'shop:order_detail' payment.order.id %}" target="_blank"><button>ดูรายการสินค้า</button></a>

    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">การแจ้งชำระเงิน</div>
    <p>ยอดเงินที่แจ้งมา: <b>{{ payment.money }} บาท</b></p>
    <p>วันและเวลาที่โอน: วันที่ {{ payment.on_transfer }} เวลา {{ payment.on_time }}</p>
    <p>ธนาคาร: {% if payment.bank == 'kbank' %}กสิกรไทย{% else %}ไทยพาณิชย์{% endif %}</p>
    {% if payment.slip_transfer != '' %}
        <p><img src="http://www.aquanineth.com/media/{{ payment.slip_transfer }}" alt="slip"></p>
    {% endif %}

    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">ราคาสินค้าทั้งหมด</div>
    <p>ยอดเงินทั้งหมด: <b>{{ payment.order.cart.total }} บาท</b></p>

    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">ที่อยู่สำหรับจัดส่งสินค้า</div>
    <p>
        {{ payment.order.member.user.first_name }} {{ payment.order.member.user.last_name }}<br>
        เบอร์โทรศัพท์ {{ payment.order.member.phone }}<br>
        {{ payment.order.member.address }}<br>
        {{ payment.order.member.province }} {{ payment.order.member.zipcode }}
    </p>

    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">วิธีการจัดส่งสินค้า</div>
    <p>
        จัดส่งแบบ <span style="font-weight: bold;">{{ payment.order.deliver_by|deliver_to_name }}</span><br>
        (โดยไปรษณีย์ไทย)
    </p>

    <div style="background-color: #CCCCCC; padding: 10px; margin-bottom: 10px;">สถานะการชำระเงิน</div>
    <p>
        {% if payment.order.is_confirm %}
            ชำระเงินแล้ว
        {% else %}
            รอการชำระเงิน
        {% endif %}
    </p>

    <table style="border-spacing: 0; border-collapse: collapse; background-color: transparent; width: 100%; max-width: 100%; margin-bottom: 20px; border-bottom: 1px solid #ddd;">
        <thead>
        <tr>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                รายละเอียดคำสั่งซื้อ
            </th>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                รายละเอียด
            </th>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                จำนวน
            </th>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                ราคารวม
            </th>
            <th style="line-height: 1.42857143; border-bottom: 1px solid #ddd; background-color: #eee; vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px 0; font-weight: bold;">
                Comment
            </th>
        </tr>
        </thead>
        <tbody>
        {% for its in items %}
            <tr style="height: 65px; line-height: 65px; border-bottom: 1px solid #d7dbe0;">
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                    <img src="http://www.aquanineth.com/media/{{ its.item.product.image }}"
                         style="vertical-align: bottom; border: 1px solid #ddd; margin-bottom: 4px; width: auto; height: 80px;">
                </td>
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                    {{ its.item.product.name }}<br>
                    ไซส์: {{ its.item.size|upper }}<br>
                    ราคา: ฿{{ its.item.product.price }}
                </td>
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">{{ its.quantity }}
                    ชิ้น
                </td>
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                    ฿{{ its.quantity|item_total_price:its.item.product.price }}</td>
                <td style="padding: 8px; line-height: 1.42857143; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">{{ its.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table style="width: 100%; font-weight: bold; margin-top: 1em; border-spacing: 0; border-collapse: collapse; background-color: transparent;">
        <tr>
            <td colspan="2" style="padding: 10px 20px;">ราคารวมของสินค้า</td>
            <td colspan="2" style="padding-right: 20px; text-align: right;">{{ order.cart.product_total }} บาท
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 10px 20px;">ค่าจัดส่ง</td>
            <td colspan="2" style="padding-right: 20px; text-align: right;">{{ order.cart.tax_delivery }} บาท
            </td>
        </tr>
        <tr style="background-color: #EEEEEE">
            <td colspan="2" style="padding: 10px 20px;"><b>ราคารวมทั้งหมด</b></td>
            <td colspan="2" style="padding-right: 20px; text-align: right;"><b>{{ order.cart.total }} บาท</b>
            </td>
        </tr>
    </table>
    <hr>
    <div style="text-align: center;">
        <p><a href="http://www.aquanineth.com/"></a>www.aquanineth.com | Tel. 083-064-5249 (9:00-20:00)</p>
        <p>Line: <a href="http://line.me/ti/p/%40aquanine" target="_blank">@aquanine</a> | Facebook: <a
                href="https://www.facebook.com/aquanine" target="_blank">aquanine</a></p>
        <p>Copyright &reg; 2016, Aquanine Brand All right Reserved.</p>
    </div>
</div>