{% load staticfiles product_tags %}

<div style="padding: 2em;">
    <div style="margin-bottom: 1em; text-align: center;">
        <img src="http://www.aquanineth.com{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <div style="background-color: #999999; color: #ffffff; padding: 10px; margin-bottom: 10px; text-align: center;">
        ถ้าอีเมลนี้อยู่ใน Junk Mail หรือ อีเมลขยะ อย่าลืมกดย้ายไปอยู่ใน inbox ด้วยนะคะ
        เพื่อป้องกันไม่ให้พลาดข้อมูลจากเราอีก
    </div>
    <p style="margin-bottom: 10px;">สวัสดีค่ะ คุณ{{ user.first_name }} {{ user.last_name }}</p>

    <p>ยินดีต้อนรัยเข้าสู่ AquanineTH.com</p>
    <p>ท่านสามารถ Log in เข้าสู่ระบบโดยใช้</p>
    <p>Username : {{ user.username }}</p>
    <p style="margin-bottom: 10px;">Password : {{ password }}</p>

    <p style="margin-bottom: 10px;"><a href="http://www.aquanineth.com/login">Login ได้ที่นี่เลยค่ะ</a></p>

    <p>หลังจาก Login แล้วท่านจะสามารถใช้งานระบบต่างๆ ได้มากขึ้นเช่น รายการสั่งซื้อ รายการแจ้งโอนเงิน และอื่นๆ ได้ค่ะ</p>
    <hr>
    <div style="text-align: center;">
        <p><a href="http://www.aquanineth.com/"></a>www.aquanineth.com | Tel. 083-064-5249 (9:00-20:00)</p>
        <p>Line: <a href="http://line.me/ti/p/%40aquanine" target="_blank">@aquanine</a> | Facebook: <a
                href="https://www.facebook.com/aquanine" target="_blank">aquanine</a></p>
        <p>Copyright &reg; 2016, Aquanine Brand All right Reserved.</p>
    </div>
</div>