{% extends 'backend/base.html' %}
{% load staticfiles backend_tags %}

{% block title %}
    แก้ไขประกาศ
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'backend:announce_list' %}">ประกาศ</a></li>
    <li class="active">{{ announce.name }} - แก้ไข</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>แก้ไขประกาศ</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal" method="POST" action="{% url 'backend:announce_change' announce.id %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}"
                                       class="col-sm-1 control-label">{{ field.label }}</label>
                                {% for error in field.errors %}
                                    <strong>{{ error|escape }}</strong>
                                {% endfor %}
                                <div class="col-sm-11">
                                    {% if field.field.widget|klass == 'ClearableFileInput' %}
                                        <p><img src="{{ MEDIA_URL }}{{ field.value }}" alt="" style="height: 60px; width: auto;"></p>
                                    {% endif %}
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="text-right">
                            <button type="submit" class="btn btn-info">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}