{% extends 'backend/base.html' %}
{% load staticfiles table_tags %}

{% block title %}
    รายการประกาศ
{% endblock %}

{% block breadcrumbs %}
    <li class="active">ประกาศ</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>รายการประกาศ</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="{% url 'backend:announce_add' %}"><i class="fa fa-plus"></i> เพิ่มประกาศใหม่</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        {% for object in object_list %}
                            <div class="col-md-55">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img src="{{ MEDIA_URL }}{{ object.image }}" alt="{{ object.name }}"
                                             style="width: 100%; display: block;">
                                        <div class="mask">
                                            <p>{{ object.name }}</p>
                                            <div class="tools tools-bottom">
                                                <a href="{% url 'backend:announce_change' object.id %}"><i class="fa fa-pencil"></i></a>
                                                <a href="{% url 'backend:announce_delete' object.id %}" onclick="return confirm('คุณต้องการลบสินค้าชิ้นนี้หรือไม่?');"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>วันที่เริ่มต้น: {{ object.start }}</p>
                                        <p>วันที่สิ้นสุด: {{ object.end }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}