{% extends 'backend/base.html' %}
{% load staticfiles backend_tags %}

{% block title %}
    แก้ไขสินค้า
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'backend:product_list' %}">สินค้า</a></li>
    <li><a href="{% url 'backend:product_detail' product.id %}">{{ product }}</a></li>
    <li class="active">แก้ไข</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>แก้ไขสินค้า</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal" method="POST" action="{% url 'backend:product_change' product.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="col-sm-1 control-label">{{ field.label }}</label>
                            {% for error in field.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-11">
                                {% if field.field.widget|klass == 'ClearableFileInput' %}
                                    <p><img src="{{ MEDIA_URL }}{{ field.value }}" alt="" style="height: 60px; width: auto;"></p>
                                {% endif %}
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}

                        <label class="control-label">Stock Item</label>
                        {{ stock_formset.management_form }}
                        <table class="table">
                            {% for form_set in stock_formset.forms %}
                                <tr {% if forloop.last %}class="formset"{% endif %}>
                                    {% for hidden in form_set.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% for field in form_set.visible_fields %}
                                        <td>
                                            <div class="form-group">
                                                <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}: </label>
                                                <div class="col-sm-9">
                                                    {% for error in field.errors %}
                                                        <strong>{{ error|escape }}</strong>
                                                    {% endfor %}
                                                    {{ field }}
                                                </div>
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>

                        <label class="control-label">Gallery</label>
                        <legend class="section"></legend>
                        {{ gallery_formset.management_form }}
                        <div class="row">
                            {% for form_set in gallery_formset.forms %}
                                {% if forloop.last %}
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr class="formset-image">
                                                {% for hidden in form_set.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                                {% for field in form_set.visible_fields %}
                                                    <td>
                                                        <div class="form-group">
                                                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}: </label>
                                                            <div class="col-sm-10">
                                                                {% for error in field.errors %}
                                                                    <strong>{{ error|escape }}</strong>
                                                                {% endfor %}
                                                                {{ field }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="col-md-4">
                                        {% for hidden in form_set.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {% for field in form_set.visible_fields %}
                                            {% if field.field.widget|klass == 'ClearableFileInput' %}
                                                <p><img src="{{ MEDIA_URL }}{{ field.value }}" alt="" style="height: 60px; width: auto;"></p>
                                            {% endif %}
                                            <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}: </label>
                                            {% for error in field.errors %}
                                                <strong>{{ error|escape }}</strong>
                                            {% endfor %}
                                            {{ field }}
                                        {% endfor %}
                                        <legend class="section"></legend>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-info">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        var add_txt = '<button class="btn btn-default"><i class="fa fa-plus"> Add Other</button>';
        var remove_txt = '<button class="btn btn-danger"><i class="fa fa-trash"> Remove</button>';
        $('.formset').formset({
            prefix: '{{ stock_formset.prefix }}',
            addText: add_txt,
            deleteText: remove_txt
        });
        $('.formset-image').formset({
            prefix: '{{ gallery_formset.prefix }}',
            addText: add_txt,
            deleteText: remove_txt
        });
    </script>
{% endblock %}