{% extends 'backend/base.html' %}
{% load staticfiles table_tags product_tags %}

{% block title %}
    #{{ object.id|stringformat:"06d" }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'backend:order_list' %}">การสั่งซื้อ</a></li>
    <li class="active">#{{ object.id|stringformat:"06d" }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>หมายเลขคำสั่งซื้อ (Order ID): #{{ object.id|stringformat:"06d" }}</h2>
                    <ul class="nav navbar-right panel_toolbox">

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">ราคาสินค้าทั้งหมด</div>
                                <div class="col-md-5">ที่อยู่สำหรับจัดส่งสินค้า</div>
                                <div class="col-md-3">วิธีการจัดส่งสินค้า</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>ยอดเงินทั้งหมด: <b>{{ object.cart.total }} บาท</b></p>
                                    <p>สถานะ:
                                        {% if object.is_confirm %}
                                            <i class="text-success">ชำระเงินแล้ว</i>
                                        {% else %}
                                            <i class="text-danger">รอการชำระเงิน</i>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <p>{{ object.member.user.first_name }} {{ object.member.user.last_name }}</p>
                                    <p>เบอร์โทรศัพท์ {{ object.member.phone }}</p>
                                    <p>{{ object.member.address }} {{ object.member.province }} {{ object.member.zipcode }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>จัดส่งแบบ <span style="font-weight: bold;">{{ object.deliver_by|deliver_to_name }}</span></p>
                                    <p>(โดยไปรษณีย์ไทย)</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>รายละเอียดคำสั่งซื้อ</th>
                            <th>รายละเอียด</th>
                            <th>จำนวน</th>
                            <th>ราคารวม</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for its in items %}
                            <tr style="height: 65px; line-height: 65px; border-bottom: 1px solid #d7dbe0;">
                                <td style="vertical-align: middle;">
                                    <img src="http://www.aquanineth.com{{ MEDIA_URL }}{{ its.item.product.image }}"
                                         style="vertical-align: bottom; border: 1px solid #ddd; margin-bottom: 4px; width: auto; height: 80px;">
                                </td>
                                <td style="vertical-align: middle;">
                                    {{ its.item.product.name }}<br>
                                    ไซส์: {{ its.item.size|upper }}<br>
                                    ราคา: ฿{{ its.item.product.price }}
                                </td>
                                <td style="vertical-align: middle;">{{ its.quantity }}
                                    ชิ้น
                                </td>
                                <td style="vertical-align: middle;">
                                    ฿{{ its.quantity|item_total_price:its.item.product.price }}</td>
                                <td style="vertical-align: middle;">{{ its.comment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <table style="width: 100%; font-weight: bold; margin-top: 1em; border-spacing: 0; border-collapse: collapse; background-color: transparent;">
                        <tr>
                            <td colspan="2" style="padding: 10px 20px;">ราคารวมของสินค้า</td>
                            <td colspan="2" style="padding-right: 20px; text-align: right;">{{ object.cart.product_total }} บาท
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 10px 20px;">ค่าจัดส่ง</td>
                            <td colspan="2" style="padding-right: 20px; text-align: right;">{{ object.cart.tax_delivery }} บาท
                            </td>
                        </tr>
                        <tr style="background-color: #EEEEEE">
                            <td colspan="2" style="padding: 10px 20px;"><b>ราคารวมทั้งหมด</b></td>
                            <td colspan="2" style="padding-right: 20px; text-align: right;"><b>{{ object.cart.total }} บาท</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}