{% extends 'backend/base.html' %}
{% load staticfiles table_tags %}

{% block title %}
    รายการสินค้า
{% endblock %}

{% block breadcrumbs %}
    <li class="active">สินค้า</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>รายการสินค้า</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% render_table orders %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}