{% extends 'backend/base.html' %}
{% load staticfiles table_tags %}

{% block title %}
    การชำระเงิน
{% endblock %}

{% block breadcrumbs %}
    <li class="active">การชำระเงิน</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>การชำระเงิน</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% render_table payments %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}