{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    สมัครสมาชิก
{% endblock %}

{% block main_content %}
    {{ form.non_field_errors }}
    <div class="register_account">
        <div class="wrap">
            <h4 class="title">Create an Account <span class="require-comment"><span class="text-danger">*</span> Required</span>
            </h4>
            <form method="post" action="{% url 'shop:signup' %}">
                <div class="col_1_of_2 span_1_of_2">
                    {% csrf_token %}
                    <div>
                        <label for="id_username">Username: <span class="text-danger">*</span></label>
                        {% for error in form.username.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.username }}
                    </div>
                    <div>
                        <label for="id_email">Email: <span class="text-danger">*</span></label>
                        {% for error in form.email.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.email }}
                    </div>
                    <div>
                        <label for="id_password">Password: <span class="text-danger">*</span></label>
                        {% for error in form.password.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.password }}
                    </div>
                    <div>
                        <label for="id_confirm_password">Confirm Password: <span class="text-danger">*</span></label>
                        {% for error in form.confirm_password.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.confirm_password }}
                    </div>
                    <div>
                        <label for="id_firstname">ชื่อจริง: <span class="text-danger">*</span></label>
                        {% for error in form.first_name.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.first_name }}
                    </div>
                    <div>
                        <label for="id_lastname">นามสกุล: <span class="text-danger">*</span></label>
                        {% for error in form.last_name.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.last_name }}
                    </div>
                    <div>
                        <label for="id_phone">เบอร์โทรศัพท์:</label>
                        {{ form.phone }}
                    </div>
                </div>
                <div class="col_1_of_2 span_1_of_2">
                    <div>
                        <label for="id_market">ตลาด: </label>
                        {{ form.market }}
                    </div>
                    <div>
                        <label for="id_address">ที่อยู่: <span class="text-danger">*</span></label>
                        {% for error in form.address.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.address }}
                    </div>
                    <div>
                        <label for="id_province">จังหวัด: <span class="text-danger">*</span></label>
                        {% for error in form.province.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        <div class="select-style">
                            {{ form.province }}
                        </div>
                    </div>
                    <div>
                        <label for="id_zipcode">รหัสไปรษณีย์: <span class="text-danger">*</span></label>
                        {% for error in form.zipcode.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.zipcode }}
                    </div>
                    <div>
                        {{ form.is_seller }} เป็นตัวแทนจำหน่าย
                    </div>
                </div>
                <div class="clear"></div>
                <button type="submit" class="grey">Submit</button>
                <p class="terms">
                    By clicking 'Create Account' you agree to the <a href="#">Terms &amp; Conditions</a>.
                </p>
            </form>
        </div>
    </div>
{% endblock %}


{% block main_script_js %}
    <script type="text/javascript">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                notify('{{ error }}', 'error');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}