{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ระบบหลังร้าน | {% block title %}{% endblock %}</title>

    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/gentelella/build/css/custom.min.css' %}" rel="stylesheet">
    <!-- Vendor Section -->
    <link href="{% static 'froala_editor/css/froala_editor.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/froala_style.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/froala-django.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/char_counter.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/code_view.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/colors.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/emoticons.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/file.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/fullscreen.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/image.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/image_manager.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/line_breaker.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/table.min.css' %}" rel="stylesheet">
    <link href="{% static 'froala_editor/css/plugins/video.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}"  rel="stylesheet">
    <link href="{% static 'vendors/gentelella/vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/ekko-lightbox/dist/ekko-lightbox.min.css' %}" rel="stylesheet">
    {% block custom_css %}{% endblock %}

    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="{% url 'backend:dashboard' %}" class="site_title"><i class="fa fa-shopping-cart"></i> <span>ระบบจัดการ</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        {% include 'backend/left_menu.html' %}
                    </div>
                </div>
            </div>

            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    {{ request.user.username }} <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"><i class="fa fa-user pull-right"></i> Profile</a></li>
                                    <li><a href="javascript:;"><i class="fa fa-lock pull-right"></i> Change Password</a></li>
                                    <li><a href="{% url 'backend:logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

{#                            <li role="presentation" class="dropdown">#}
{#                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">#}
{#                                    <i class="fa fa-envelope-o"></i>#}
{#                                    <span class="badge bg-green">1</span>#}
{#                                </a>#}
{#                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">#}
{#                                    <li>#}
{#                                        <a>#}
{#                                            <span>John Smith</span>#}
{#                                            <span class="time">3 mins ago</span>#}
{#                                            <span class="message">#}
{#                                                Film festivals used to be do-or-die moments for movie makers. They were where...#}
{#                                            </span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="text-center">#}
{#                                            <a>#}
{#                                                <strong>See All Alerts</strong>#}
{#                                                <i class="fa fa-angle-right"></i>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="page-title">
                    <div class="title_left">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'backend:dashboard' %}">ระบบจัดการ</a></li>
                            {% block breadcrumbs %}{% endblock %}
                        </ol>

                    </div>
                </div>

                <div class="clearfix"></div>
                {% block content %}{% endblock %}
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Copyright &reg; 2016, <a href="http://www.aquanineth.com">Aquanine Brand</a> All right Reserved.
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/nprogress/nprogress.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/gentelella/build/js/custom.min.js' %}" type="text/javascript"></script>
    <!-- Vendor Section -->
    <script src="{% static 'froala_editor/js/froala_editor.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/froala-django.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/align.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/char_counter.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/code_beautifier.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/code_view.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/colors.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/emoticons.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/entities.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/file.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/font_family.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/font_size.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/fullscreen.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/image.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/image_manager.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/inline_style.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/line_breaker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/link.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/lists.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/paragraph_format.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/paragraph_style.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/quote.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/save.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/url.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'froala_editor/js/plugins/video.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/gentelella/vendors/pnotify/dist/pnotify.js' %}"></script>
    <script src="{% static 'vendors/ekko-lightbox/dist/ekko-lightbox.min.js' %}"></script>

    <script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
    {% block include_js %}{% endblock %}

    <script type="text/javascript">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                notify({{ error }}, 'error');
            {% endfor %}
        {% endif %}

        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        $(document).ready(function () {
            $('.date').datepicker({
                format: "yyyy-mm-dd",
                todayBtn: "linked",
                autoclose: true,
                todayHighlight: true
            });
        });

        function notify(message, type) {
            var stack_bottomright = {"dir1": "up", "dir2": "left", "push": "bottom"};
            var opts = {
                title: "Notification",
                text: message,
                styling: 'bootstrap3',
                addclass: "stack-bottomright",
                stack: stack_bottomright
            };
            switch (type) {
                case 'error':
                    opts.title = "Error!";
                    opts.type = "error";
                    break;
                case 'info':
                    opts.title = "Alert Notification";
                    opts.type = "info";
                    break;
                case 'success':
                    opts.title = "Success!";
                    opts.type = "success";
                    break;
            }
            new PNotify(opts);
        }
    </script>
    {% block custom_js %}{% endblock %}
</body>
</html>
