<div class="menu_section">
    <ul class="nav side-menu">
        <li><a href="{% url 'shop:index' %}"><i class="fa fa-home"></i> หน้าร้านค้า</a></li>
        <li><a href="{% url 'backend:dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a><i class="fa fa-bullhorn"></i> ประกาศ <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'backend:announce_list' %}">รายการประกาศ</a></li>
                <li><a href="{% url 'backend:announce_add' %}">เพิ่มประกาศใหม่</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-shopping-cart"></i> Order <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'backend:order_list' %}">รายการ Order</a></li>
                <li><a href="{% url 'backend:payment_list' %}">การแจ้งชำระเงิน</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-shopping-basket"></i> สินค้า <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'backend:product_list' %}">รายการสินค้า</a></li>
                <li><a href="{% url 'backend:product_add' %}">เพิ่มสินค้าใหม่</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-wordpress"></i> บทความ <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'backend:article_list' %}">รายชื่อบทความ</a></li>
                <li><a href="{% url 'backend:article_add' %}">เพิ่มบทความใหม่</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-user"></i> สมาชิก/ลูกค้า <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'backend:member_list' %}">รายชื่อสมาชิก</a></li>
                <li><a href="{% url 'backend:member_add' %}">เพิ่มสมาชิกใหม่</a></li>
            </ul>
        </li>
        <li><a href="{% url 'backend:logout' %}"><i class="fa fa-sign-out"></i> ออกจากระบบ</a></li>
    </ul>
</div>