{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ระบบหลังร้าน | {% block title %}{% endblock %}</title>

    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/gentelella/vendors/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/gentelella/build/css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/gentelella/vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">

    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/gentelella/vendors/pnotify/dist/pnotify.js' %}"></script>
</head>
<body class="login">
<div>
    <div class="login_wrapper">
        {#    {{ form.non_field_errors }}#}
        <div class="animate form login_form">
            <section class="login_content">
                <form method="POST" action="">
                    <h1>ระบบหลังร้าน</h1>
                    {% csrf_token %}
                    <div>
                        {% for error in form.username.errors %}
                            <p class="text-left text-danger">{{ error|escape }}</p>
                        {% endfor %}
                        <input type="text" id="id_username" name="username" class="form-control" placeholder="Username"
                               value="{{ form.username.value|default_if_none:"" }}" required>
                    </div>
                    <div>
                        {% for error in form.password.errors %}
                            <p class="text-left text-danger">{{ error|escape }}</p>
                        {% endfor %}
                        <input type="password" id="id_password" name="password" class="form-control"
                               placeholder="Password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default submit">เข้าสู่ระบบ</button>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            $(document).ready(function () {
                var stack_bottomright = {"dir1": "up", "dir2": "left", "push": "bottom"};
                new PNotify({
                    title: 'Error!',
                    text: '{{ error }}',
                    type: 'error',
                    styling: 'bootstrap3',
                    addclass: "stack-bottomright",
                    stack: stack_bottomright
                });
            });
        {% endfor %}
    {% endif %}
</script>
</body>
</html>