{% extends 'backend/base.html' %}
{% load staticfiles backend_tags %}

{% block title %}
    เพิ่มสมาชิกใหม่
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'backend:member_list' %}">สมาชิก</a></li>
    <li class="active">ใหม่</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>เพิ่มสมาชิกใหม่</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal" method="POST" action="{% url 'backend:member_add' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">{{ form.username.label }}</label>
                            {% for error in form.username.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ form.username }}
                                {{ form.username.help_text|safe }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}" class="col-sm-2 control-label">{{ form.password1.label }}</label>
                            {% for error in form.password1.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}" class="col-sm-2 control-label">ยืนยัน Password</label>
                            {% for error in form.password2.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ form.password2 }}
                                {{ form.password2.help_text|safe }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">ชื่อจริง</label>
                            {% for error in form.first_name.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">นามสกุล</label>
                            {% for error in form.last_name.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">{{ form.email.label }}</label>
                            {% for error in form.email.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ formset.0.phone.id_for_label }}" class="col-sm-2 control-label">เบอร์โทรศัพท์</label>
                            {% for error in formset.0.phone.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ formset.0.phone }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ formset.0.address.id_for_label }}" class="col-sm-2 control-label">ที่อยู่</label>
                            {% for error in formset.0.address.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ formset.0.address }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ formset.0.province.id_for_label }}" class="col-sm-2 control-label">จังหวัด</label>
                            {% for error in formset.0.province.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ formset.0.province }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ formset.0.zipcode.id_for_label }}" class="col-sm-2 control-label">รหัสไปรษณีย์</label>
                            {% for error in formset.0.zipcode.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-10">
                                {{ formset.0.zipcode }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <label class="checkbox-inline">{{ form.is_superuser }} ผู้ดูแลระบบ</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <label class="checkbox-inline">{{ form.is_staff }} ตัวแทนจำหน่าย</label>
                            </div>
                        </div>
                        {% for hidden in formset.0.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ formset.management_form }}
                        <div class="text-right">
                            <button type="submit" class="btn btn-info">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

