table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}
.table > thead > tr > th,
.table > tfoot > tr > th{
    background-color: #eee;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table:last-child {
    margin-bottom: 0;
}

table.table-border,
table.table-border > thead > tr > th,
table.table-border > thead > tr > td,
table.table-border > tbody > tr > th,
table.table-border > tbody > tr > td,
table.table-border > tfoot > tr > th,
table.table-border > tfoot > tr > td {
    border: 1px solid #ddd;
}

table.table-border > thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5
}

.table-stritped > tbody > tr:nth-child(even) {
    background-color: #f2f2f2
}

ul.pipe-split li {
    float: left;
    display: block;
    margin: 0;
    padding: 0 10px;
    border-left: #ccc solid 1px;
}

ul.pipe-split li:first-child {
    border-left: 0px !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.view .mask {
    top: 50%;
}

.btn {
    background-color: transparent;
    border: 2px solid #e7e7e7;
    padding: 7px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #e7e7e7; /* Green */
}

.cssmenu {
    float: right !important;
}

.nav ul {
    display: block !important;
}

.nav ul li {
    float: left;
}

.nav .search-nav {
    width: 330px;
    float: right;
}

.fontawesome-circle {
    text-align: center;
}

.fontawesome-circle i {
    border: 1px solid #888;
    color: #888;
    display: inline-block;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 1px 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.text-center {
    text-align: center !important;;
}

.text-left {
    text-align: left !important;;
}

.text-right {
    text-align: right !important;
}

.text-danger {
    color: #a94442 !important;
}

.text-white {
    color: #ffffff;
}
.text-primary {
    color: #07549A;
}

.text-uppercase {
    text-transform: uppercase;
}

.invisible {
    display: none;
}

#cart thead th {
    padding: 8px 0;
    font-weight: bold;
}

#cart tbody td {
    vertical-align: middle;
    text-align: center;
    margin-top: 4px;
}

tr.productitm {
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #d7dbe0;
}

.remove {
    cursor: pointer;
    margin-right: 20px;
}

.light {
    color: #888b8d;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
    font-size: 1em;
    font-weight: normal;
}

.thick {
    color: #272727;
    font-size: 1.2em;
    font-weight: bold;
}

#cart tbody td img {
    vertical-align: bottom;
    border: 1px solid #ddd;
    margin-bottom: 4px;
    width: auto;
    height: 80px;
}

tr.checkoutprice td {
    padding: 10px 0;
    text-align: center;
}

td.checkout {
    padding: 12px 0;
    padding-top: 20px;
    width: 100%;
    text-align: right;
}

input.qty {
    height: 17px;
    border: 0;
    width: calc(100% - 2px);
    margin-left: 1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    text-align: center;
}

input.qty:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

.btn.btn-lg {
    font-size: 1.2em;
}

.btn.btn-danger {
    color: #ffffff;
    background-color: #a94442;
}
.btn.btn-danger:hover {
    background-color: #d2322d;
}

.btn.btn-success {
    color: #ffffff;
    background-color: #5cb85c;
}
.btn.btn-success:hover {
    background-color: #47a447;
}

.require-comment {
    color: #999;
    font-size: 0.8125em;
    text-transform: none;
}

.select-style {
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 95% 50%;
}

.select-style select {
    width: 98% !important;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

