{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    แจ้งชำระเงิน
{% endblock %}

{% block main_css %}
    <style type="text/css">
        .select-style select {
            width: 96.5% !important;
        }
        .comments-area input[type="submit"] {
            float: none;
            background: transparent;
            color: #000;
            padding: 7px 10px;
            border: 2px solid #e7e7e7;
        }
        .comments-area input[type="submit"]:hover {
            background-color: #e7e7e7;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap" style="padding: 0 20em; width: auto;">
            <h4 class="title">แบบฟอร์มแจ้งชำระเงิน <span class="text-danger">(สำหรับท่านที่โอนเงินแล้วเท่านั้น)</span></h4>
            <hr>
            <p style="font-size: .9em;">
                <span style="font-weight: bold;">หลังจากที่ท่านโอนเงินเสร็จแล้ว</span>สามารถกรอกข้อมูลแจ้งการโอนเงินที่ฟอร์มนี้ได้เลยค่ะ<br>
{#                    สำหรับท่านที่ชำระผ่าน Paysbuy (Credit Card, Counter Service, etc) ไม่ต้องแจ้งแล้วค่ะ ระบบจะอัพเดตอัตโนมัติแล้ว รอรับสินค้าได้เลยคะ<br>#}
                "ถ้าไม่สะดวกแจ้งผ่านหน้าเว็บหรือติดตรงไหน สามารถโทรเข้ามาแจ้งกับเราได้เลยที่ 083-064-5249"<br>
            </p>
            <div class="comments-area">
                <form method="POST" action="{% url 'shop:payment' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        <label for="id_order">Order ID (หมายเลขใบสั่งซื้อตัวเลข 6 หลักใน Email หริอ SMS): <span class="text-danger">*</span></label>
                        {% for error in form.order.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.order }}
                    </p>
                    <p>
                        <label for="id_bank">โอนเงินเข้าธนาคาร: <span class="text-danger">*</span></label>
                        {% for error in form.bank.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        <div class="select-style">
                            {{ form.bank }}
                        </div>
                    </p>
                    <p>
                        <label for="id_on_transfer">วันที่โอน: <span class="text-danger">*</span></label>
                        {% for error in form.on_transfer.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        <div class="select-style">
                            {{ form.on_transfer }}
                        </div>
                    </p>
                    <p>
                        <label for="id_on_time">เวลาที่โอน (โดยประมาณ): <span
                                class="text-danger">*</span></label>
                        {% for error in form.on_time.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.on_time }}
                    </p>
                    <p>
                        <label for="id_money">จำนวนเงินที่โอน (กรุณาโอนเงินเป็นเศษสตางค์ เช่น 300.18): <span class="text-danger">*</span></label>
                        {% for error in form.money.errors %}
                            <span class="text-danger">{{ error|escape }}</span>
                        {% endfor %}
                        {{ form.money }}
                    </p>
                    <p>
                        <label for="id_slip_transfer">รูปสลิปการโอน (ถ้ามี): </label>
                        {{ form.slip_transfer }}
                    </p>
                    <p>
                        <input type="submit" class="btn btn-lg" value="Submit">
                    </p>
                </form>
                <hr>
                <p>
                    กรุณาโอนเงินเป็นเศษสตางค์ (เช่น 240.35) เพื่อความง่ายต่อการตรวจเช็คและป้องกันการแอบอ้างการโอนของท่าน<br>
                    ท่านสามารถชำระเงินโดยการโอนเงินเข้าธนาคารผ่านทาง Internet, ATM หรือเค้าเตอร์ธนาคาร ก็ได้<br>
                    ถ้าท่านมีคำถามหรือข้อสงสัย สามารถติดต่อกับเราได้ทันที ที่ 083-064-5249
                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
