{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/megamenu.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/alertify-js/build/css/alertify.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/alertify-js/build/css/themes/default.min.css' %}">
    {% block main_css %}
    {% endblock %}
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '150860345320342');
        fbq('track', "PageView");
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=150860345320342&ev=PageView&noscript=1"/>
    </noscript>
    <!-- Google Analytics Code -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82816797-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div id="main-menu">
    <div id="nav-top" class="header-top">
        <div class="wrap">
            <div class="logo">
                <a href="{% url 'shop:index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"/></a>
            </div>
            <div class="cssmenu">
                {% if user.is_authenticated %}
                    <ul class="pipe-split" style="float: right;">
                        {% if user.is_superuser %}
                            <li><a href="{% url 'backend:dashboard' %}">ระบบหลังร้าน</a></li>
                        {% endif %}
                        <li><a href="#">ข้อมูลส่วนตัว</a></li>
                        <li><a href="{% url 'shop:cart' %}"><i class="fa fa-shopping-cart"></i> ตระกร้าสินค้า (<span
                                class="item_count"></span>)</a></li>
                        <li><a href="{% url 'shop:logout' %}?next={% url 'shop:index' %}">ออกจากระบบ</a></li>
                    </ul>
                {% else %}
                    <ul style="float: right;">
                        <li><a href="{% url 'shop:cart' %}"><i class="fa fa-shopping-cart"></i> ตระกร้าสินค้า (<span
                                class="item_count"></span>)</a></li>
                        <li><a href="{% url 'shop:login' %}" class="btn">เข้าสู่ระบบ</a></li>
                        <li><a href="{% url 'shop:signup' %}" class="btn">สมัครสมาชิก</a></li>
                    </ul>
                {% endif %}
                <div class="clear" style="margin-bottom: 1em;"></div>
                <ul class="pipe-split" style="float: right;">
                    <li><a href="{% url 'shop:payment' %}">แจ้งชำระเงิน</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="nav-bottom" class="header-bottom">
        {% include "shop/menu.html" %}
    </div>
</div>

{% block main_content %}
{% endblock %}

{% include "shop/footer.html" %}

<script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/megamenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/alertify-js/build/alertify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
{% block main_include_js %}
{% endblock %}

<script type="text/javascript">
    $.getJSON('{% url 'shop:item_count' %}', function (json, textStatus) {
        /*optional stuff to do after success */
        $('span.item_count').text(json.count);
    });
    {% if messages %}
        {% for message in messages %}
            notify('{{message}}', '{{message.tags}}');
        {% endfor %}
    {% endif %}
</script>

{% block main_script_js %}
{% endblock %}

{% block tags_script_js %}
{% endblock %}
</body>
</html>