{% extends "shop/base.html" %}
{% load staticfiles %}

{% block title %}
    บทความ
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap">
            <h4 class="title">บทความจากทาง Aquanine TH</h4>
            <hr>
            <div class="comments-area">
                {% if object_list %}
                    {% for object in object_list %}
                        <div class="labout span_1_of_a1">
                            <img src="{{ MEDIA_URL }}{{ object.main_image }}" style="width: 100%; height: auto;">
                        </div>
                        <div class="cont1 span_2_of_a1">
                            <p style="font-weight: bold;">{{ object.title }}</p>
                            <p>{{ object.detail|safe|striptags|truncatewords_html:120 }} <a href="{% url 'shop:article_detail' object.slug %}">อ่านต่อ</a></p>
                        </div>
                        <div class="clear"></div>
                        <hr>
                    {% endfor %}

                    {% if is_paginated %}
                        <div class="pagination" style="text-align: center; margin-top: 1.5em;">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{% url 'shop:article_list' %}?page={{ page_obj.previous_page_number }}" class="btn">ย้อนกลับ</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="{% url 'shop:article_list' %}?page={{ page_obj.next_page_number }}" class="btn">หน้าต่อไป</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% else %}
                    <p>ยังไม่มีบทความใหม่ในขณะนี้</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
