{% extends "shop/base.html" %}
{% load staticfiles %}

{% block title %}
    บทความ
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap">
            <h4 class="title">{{ object.title }}</h4>
            <hr>
            <p><img src="{{ MEDIA_URL }}{{ object.main_image }}" style="max-width: 100%; height: auto;"></p>
            <div class="comments-area">
                {{ object.detail|safe }}
            </div>
            <hr>
            Keyword: {% for keyword in object.keyword_as_list %}
                <a href="#">{{ keyword }}</a>{% if not forloop.last %} , {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
