{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    Cart
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap">
            {% if items.count > 0 %}
                <table id="cart" class="table">
                    <thead>
                    <tr>
                        <th>รูปสินค้า</th>
                        <th>รหัสสินค้า</th>
                        <th>ชื่อสินค้า</th>
                        <th>ขนาด</th>
                        <th>ราคาสินค้า</th>
                        <th>จำนวน</th>
                        <th>ราคารวม</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for its in items %}
                        <tr class="productitm">
                            <td><img src="{{ MEDIA_URL }}{{ its.item.product.image }}" class="thumb"></td>
                            <td>{{ its.item.product.code|upper }}</td>
                            <td>{{ its.item.product.name }}</td>
                            <td>{{ its.item.size|upper }}</td>
                            <td>{{ its.item.product.price }}</td>
                            <td><input type="number" class="qty" min="0" max="99" value="{{ its.quantity }}" data-id="{{ its.id }}" data-price="{{ its.item.product.price }}"></td>
                            <td class="total-price" data-id="{{ its.id }}">{{ its.quantity|item_total_price:its.item.product.price }}</td>
                            <td><i class="fa fa-trash remove" data-id="{{ its.id }}"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="table" style="border: 0; margin-bottom: 0;">
                    <tr>
                        <td style="width: 59%; border: 0;">
                            <div style=" border: 1px solid #ddd; padding: 10px;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-left">
                                            <p style="font-weight: bold; margin-bottom: 5px;">Coupon Code : ใส่คูปองส่วนลดที่นี่</p>
                                            <p>
                                                <input type="text" name="coupon" style="font-size: 0.8125em; color: #999; padding: 8px; outline: none; margin: 10px 0; width: 50%; font-family: 'Open Sans', sans-serif; border:1px solid #f0f0f0 !important;">
                                                <button class="btn" style="background-color: #ffffff;">ใช้ Coupon</button>
                                            </p>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p style="font-weight: bold; margin-bottom: 5px;">ช่องทางการชำระเงิน</p>
                                            <p><img src="{% static 'images/icon_footer_paysbuy.jpg' %}" alt="paysbuy transfer" style="height: auto; width: auto;"></p>
                                            <p><img src="{% static 'images/icon_footer_bank.jpg' %}" alt="bank transfer" style="height: auto; width: auto;"></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td style="width: 2%; border: 0;"></td>
                        <td style="width: 39%; border: 0;">
                            <div style="border: 1px solid #ddd; padding: 10px;">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td style="padding: 10px 20px;">ราคาไม่รวมค่าจัดส่ง</td>
                                        <td class="text-right" style="padding-right: 20px;">
                                            <span id="product_total" class="thick">0.00</span> บาท
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="padding: 10px 0 0 10px; border: 0; font-size: .8em">
                                            <div class="text-danger text-center" style="border: 1px solid #a94442; padding: 5px 10px; margin-bottom: 10px;">
                                                ห้ามพลาด! ส่งฟรีแบบ EMS เมื่อสั่งสินค้าครบ 4 ตัว
                                            </div>
                                            <p style="margin-bottom: 5px;"><span style="font-weight: bold;">เลือกวิธีการส่งสินค้า</span> (จัดส่งโดยไปรษณีย์ไทย)</p>
                                            <p id="normal"><input type="radio" name="deliver_by" value="normal" data-price="30" checked> ธรรมดาแบบลงทะเบียน 5-7 วัน (30 บาท)</p>
                                            <p><input type="radio" name="deliver_by" value="ems" data-price="50"> <span id="ems">EMS ด่วนพิเศษ 1-2 วัน (50 บาท)</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 20px;">ค่าจัดส่งสินค้า</td>
                                        <td class="text-right" style="padding-right: 20px;">
                                            <span id="tax_delivery" class="thick">30.00</span> บาท
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="padding: 5px;"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th class="text-left" style="padding: 10px 20px;">
                                            <b>ราคารวมทั้งหมด</b>
                                        </th>
                                        <th class="text-right" style="padding-right: 20px;">
                                            <b><span id="total" class="thick">0.00</span> บาท</b>
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

                <table style="width: 100%">
                    <tr>
                        <td class="checkout">
                            <button id="save" class="btn btn-lg">ดูสินค้าเพิ่ม</button>
                            <button id="checkout" class="btn btn-lg">สั่งซื้อสินค้า</button>
                        </td>
                    </tr>
                </table>
            {% else %}
                <h4 class="title">Shopping cart is empty</h4>
                <p class="cart">You have no items in your shopping cart.<br>Click<a href="{% url 'shop:index' %}">
                    here</a> to continue shopping</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block main_script_js %}
    <script type="text/javascript">
        var totalItem;
        $(document).ready(function () {
            getTotalItem()
            calculateTotal();
            {% if request.session.deliver_by == 'ems' %}
                $('input[name="deliver_by"]').filter('[value="{{ request.session.deliver_by }}"]').attr('checked', true);
            {% endif %}

            $("input[type=radio][name='deliver_by']").change(function () {
                calculateTotal();
            });

            $("input[type='number']").change(function () {
                var id = $(this).data('id');
                var qty = parseInt($(this).val());
                var price = parseFloat($(this).data('price'));
                var product_price = (qty * price).toFixed(2);

                $('td.total-price').each(function (key, value) {
                    if ($(value).data('id') == id) {
                        $(value).html(product_price);
                    }
                });
                getTotalItem()
                calculateTotal();
            }).keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) ||
                        // Allow: Ctrl+C
                        (e.keyCode == 67 && e.ctrlKey === true) ||
                        // Allow: Ctrl+X
                        (e.keyCode == 88 && e.ctrlKey === true) ||
                        // Allow: home, end, left, right
                        (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            $('button#checkout').click(function () {
                var obj = DraftSave();
                $.ajax({
                    url: '{% url 'shop:cart' %}',
                    type: 'PUT',
                    dataType: 'json',
                    data: {
                        total: obj.total,
                        product_total: obj.product_total,
                        tax_delivery: obj.tax_delivery,
                        deliver_by: obj.deliver_by,
                        data: JSON.stringify(obj.data)
                    },
                    success: function (res) {
                        window.location = "{% url 'shop:checkout' %}";
                    },
                    error: function (e) {
                        notify('เกิดข้อผิดพลาดกรุณาติดต้อผู้ดูแลระบบ', 'error')

                    }
                });
            });

            $('button#save').click(function () {
                var obj = DraftSave();
                $.ajax({
                    url: '{% url 'shop:cart' %}',
                    type: 'PUT',
                    dataType: 'json',
                    data: {
                        total: obj.total,
                        product_total: obj.product_total,
                        tax_delivery: obj.tax_delivery,
                        deliver_by: obj.deliver_by,
                        data: JSON.stringify(obj.data)
                    },
                    success: function (res) {
                        window.location = "{% url 'shop:product_list' %}";
                    },
                    error: function (e) {
                        console.log(e);
                        notify('เกิดข้อผิดพลาดกรุณาติดต่อผู้ดูแลระบบ', 'error')

                    }
                });
            });

            $('i.remove').click(function () {
                var id = $(this).data('id');
                alertify.confirm("This is a confirm dialog.", function () {
                    $.ajax({
                        url: '{% url 'shop:cart' %}',
                        type: 'DELETE',
                        dataType: 'json',
                        data: {id: id},
                        success: function (res) {
                            location.reload();
                        },
                        error: function (e) {
                            console.log(e);
                            notify('เกิดข้อผิดพลาดกรุณาติดต่อผู้ดูแลระบบ', 'error')

                        }
                    });
                });
            })
        });

        function getTotalItem() {
            totalItem = 0;
            $('input.qty').each(function (key, value) {
                totalItem += parseInt($(value).val());
            });
            if(totalItem >= 4) {
                $('input[name="deliver_by"]').filter('[value="ems"]').attr('checked', true).data('price', 0);
                $('span#ems').text('EMS ด่วนพิเศษ 1-2 วัน (ฟรี)');
                $('p#normal').hide();
            } else {
                $('input[name="deliver_by"]').filter('[value="ems"]').data('price', 50);
                $('span#ems').text('EMS ด่วนพิเศษ 1-2 วัน (50 บาท)');
                $('p#normal').show();
            }
        }

        function calculateTotal() {
            var deliver_price = $("input[name='deliver_by']:checked").data('price')
            $('span#tax_delivery').text(deliver_price.toFixed(2));

            var total = 0;
            var tax_delivery = parseFloat($('span#tax_delivery').text());

            $('td.total-price').each(function (key, value) {
                total += parseFloat($(value).html());
            });
            $('span#product_total').text(total.toFixed(2));
            $('span#total').text((total + tax_delivery).toFixed(2));
        }

        function DraftSave() {
            var obj = {};
            obj.data = [];
            $("input[type='number'].qty").each(function (key, value) {
                var res = {};
                res.id = parseInt($(value).data('id'));
                res.qty = parseInt($(value).val());
                obj.data.push(res);
            });
            obj.deliver_by = $("input[type=radio][name='deliver_by']:checked").val();
            obj.tax_delivery = $('span#tax_delivery').text();
            obj.product_total = $('span#product_total').text();
            obj.total = $('span#total').text();

            return obj
        }
    </script>
{% endblock %}