{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    Check Out
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap">
            <div class="col_1_of_login span_1_of_login">
                <div class="login-title">
                    <h4 class="title">ที่อยู่จัดส่งสินค้า</h4>
                    <p><span class="text-danger">*</span> จำเป็นต้องกรอก</p>
                    <div class="comments-area">
                        <form method="POST" action="{% url 'shop:checkout' %}">
                            {% csrf_token %}
                            <p>
                                <label for="id_email">Email: <span class="text-danger">*</span></label>
                                {% for error in form.email.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                {{ form.email }}
                            </p>
                            <p>
                                <label for="id_first_name">ชื่อผู้รับ: <span class="text-danger">*</span></label>
                                {% for error in form.first_name.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                {{ form.first_name }}
                            </p>
                            <p>
                                <label for="id_last_name">นามสกุล: <span class="text-danger">*</span></label>
                                {% for error in form.last_name.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                {{ form.last_name }}
                            </p>
                            <p>
                                <label for="id_address">ที่อยู่: <span class="text-danger">*</span></label>
                                {% for error in form.address.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                {{ form.address }}
                            </p>
                            <p>
                                <label for="id_province">จังหวัด: <span class="text-danger">*</span></label>
                                {% for error in form.province.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                <div class="select-style">
                                    {{ form.province }}
                                </div>
                            </p>
                            <p>
                                <label for="id_zipcode">รหัสไปรษณีย์: <span class="text-danger">*</span></label>
                                {% for error in form.zipcode.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                {{ form.zipcode }}
                            </p>
                            <p>
                                <label for="id_phone">เบอร์โทรศัพท์: </label>
                                {% for error in form.phone.errors %}
                                    <span class="text-danger">{{ error|escape }}</span>
                                {% endfor %}
                                {{ form.phone }}
                            </p>
                            <p>
                                <input type="submit" value="ยืนยันที่อยู่จัดส่ง">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col_1_of_login span_1_of_login">
                <div class="login-title">
                    <h4 class="title">Registered Customers</h4>
                    <p>สำหรับสมาชิกเข้าระบบเพื่อใช้ข้อมูลที่อยู่เดิมได้เลยครับ</p>
                    <div class="comments-area">
                        <form method="POST" action="{% url 'shop:login' %}?next={% url 'shop:checkout_confirm' %}">
                            {% csrf_token %}
                            <p>
                                <label for="id_username">Username:</label>
                                <input type="text" id="id_username" name="username" maxlength="254">
                            </p>
                            <p>
                                <label for="id_password">Password:</label>
                                <input type="password" id="id_password" name="password" maxlength="254">
                            </p>
                            <p id="login-form-remember">
                                <label><a href="#">Forget Your Password ? </a></label>
                            </p>
                            <p>
                                <input type="submit" value="Login">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block main_script_js %}
    <script type="text/javascript">
        console.log('{{ form.errors }}');
        console.log('{{ form.non_field_errors }}');
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                notify('{{ error }}', 'error');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}