{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    Check Out
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap">
            <table class="table table-border">
                <thead>
                <tr>
                    <th>ที่อยู่จัดส่งสินค้า</th>
                    <th>วิธีการจัดส่งสินค้า</th>
                    <th>คูปองและ Point</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>{{ request.session.first_name }} {{ request.session.last_name }}</p>
                        <p>{{ request.session.address }}</p>
                        <p style="margin-bottom: 10px;">{{ request.session.province }} {{ request.session.zipcode }}</p>
                        <p>
                            <button class="btn" onclick="editAddress();">แก้ไขข้อมูล</button>
                        </p>
                    </td>
                    <td>
                        <p>จัดส่งแบบ <span
                                style="font-weight: bold;">{{ request.session.deliver_by|deliver_to_name }}</span></p>
                        <p style="margin-bottom: 10px;">(โดยไปรษณีย์ไทย)</p>
                        {% if request.session.deliver_by != 'ems' or cart.tax_delivery != 0 %}
                            <p>
                                <button class="btn" onclick="editDelivery();">แก้ไขข้อมูล</button>
                            </p>
                        {% endif %}
                    </td>
                    <td>ถ้าคุณมีคูปอง <a href="{% url 'shop:cart' %}">สามารถใช้ได้ที่หน้า basket</a></td>
                </tr>
                </tbody>
            </table>

            <table id="cart" class="table">
                <thead>
                <tr>
                    <th>รูปสินค้า</th>
                    <th>รหัสสินค้า</th>
                    <th>ชื่อสินค้า</th>
                    <th>ขนาด</th>
                    <th>ราคาสินค้า</th>
                    <th>จำนวน</th>
                    <th>ราคารวม</th>
                </tr>
                </thead>
                <tbody>
                {% for its in items %}
                    <tr class="productitm">
                        <td><img src="{{ MEDIA_URL }}{{ its.item.product.image }}" class="thumb"></td>
                        <td>{{ its.item.product.code|upper }}</td>
                        <td>{{ its.item.product.name }}</td>
                        <td>{{ its.item.size|upper }}</td>
                        <td>{{ its.item.product.price }}</td>
                        <td>{{ its.quantity }}</td>
                        <td class="total-price">{{ its.quantity|item_total_price:its.item.product.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <table class="table">
                <tr>
                    <td style="width: 59%;">
                        <table id="cart" class="table">
                            <thead>
                            <tr>
                                <th colspan="2">กรุณาเลือกวิธีการชำระเงิน</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="radio" checked></td>
                                <td class="text-left">
                                    <p>โอนเงินเข้าบัญชีธนาคาร (ที่สาขา, ตู้ ATM หรือ ออนไลน์)</p>
                                    <p><img src="{% static 'images/icon_footer_bank.jpg' %}" alt="bank transfer"
                                            style="height: auto; width: auto;">
                                        (บัญชีธนาคารจะแสดงที่หน้าถัดไปหรือในอีเมลยืนยัน)</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="width: 2%;"></td>
                    <td style="width: 39%;">
                        <table style="width: 100%; background-color: #EEEEEE">
                            <tr>
                                <td colspan="2" style="padding: 10px 20px;">ราคารวมของสินค้า</td>
                                <td colspan="2" class="text-right"
                                    style="padding-right: 20px;">{{ cart.product_total }} บาท
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 10px 20px;">ค่าจัดส่ง</td>
                                <td colspan="2" class="text-right"
                                    style="padding-right: 20px;">{{ cart.tax_delivery }} บาท
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 10px 20px;"><b>ราคารวมทั้งหมด</b></td>
                                <td colspan="2" class="text-right" style="padding-right: 20px;">
                                    <b>{{ cart.total }} บาท</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="text-right">
                <p style="padding: 10px 0; font-size: small">*เมื่อกดปุ่ม "ยืนยันการสั่งซื้อ"
                    ระบบจะจองสินค้าให้ท่านคนเดียวทันที</p>
                <p>
                <form action="{% url 'shop:checkout_confirm' %}" method="POST">
                    {% csrf_token %}
                    <button id="checkout" class="btn btn-lg btn-success">ยืนยันการสั่งซื้อ</button>
                </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_script_js %}
    <script type="text/javascript">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                notify('{{ error }}', 'error');
            {% endfor %}
        {% endif %}

        function editAddress() {
            var address_value = '{{ form.address.value }}'.replace('&lt;br /&gt;', '\r\n');
            var form = '<div class="comments-area">';
            form += '<form id="address_edit" method="POST" action="{% url "shop:update_address" %}">';
            form += "{% csrf_token %}";
            form += '<p><label for="id_email">Email:</label>{{ form.email }}</p>';
            form += '<p><label for="id_first_name">ชื่อผู้รับ:</label>{{ form.first_name }}</p>';
            form += '<p><label for="id_last_name">นามสกุล:</label>{{ form.last_name }}</p>';
            form += '<p><label for="id_address">ที่อยู่:</label><textarea cols="40" id="id_address" name="address" rows="5">' + address_value + '</textarea></p>';
            form += '<p><label for="id_province">จังหวัด:</label><div class="select-style">{% spaceless %}{{ form.province }}{% endspaceless %}</div></p>';
            form += '<p><label for="id_zipcode">รหัสไปรษณีย์:</label>{{ form.zipcode }}</p>';
            form += '<p><label for="id_phone">เบอร์โทรศัพท์: </label>{{ form.phone }}</p>';
            form += '</form>';
            alertify.confirm(form,
                function(){
                    var form = $('#address_edit');
                    form.submit();
                }
            );
        }

        function editDelivery() {
            var form = '<div class="comments-area">';
            form += '<form id="deliver_edit" method="POST" action="{% url "shop:update_delivery" %}">';
            form += "{% csrf_token %}";
            {% if request.session.deliver_by == 'ems' %}
                form += '<p><input type="radio" name="deliver_by" value="normal">ธรรมดาแบบลงทะเบียน 2-10 วัน (30 บาท)</p>';
                form += '<p><input type="radio" name="deliver_by" value="ems" checked> EMS ด่วนพิเศษ 1-2 วัน (50 บาท)</p>';
            {% else %}
                form += '<p><input type="radio" name="deliver_by" value="normal" checked>ธรรมดาแบบลงทะเบียน 2-10 วัน (30 บาท)</p>';
                form += '<p><input type="radio" name="deliver_by" value="ems"> EMS ด่วนพิเศษ 1-2 วัน (50 บาท)</p>';
            {% endif %}
            form += '</form>';
            alertify.confirm(form,
                function(){
                    var form = $('#deliver_edit');
                    form.submit();
                }
            );
        }
    </script>
{% endblock %}