{% load staticfiles product_tags %}
<div class="footer">
    <div class="footer-top">
        <div class="wrap">
            <div class="col_1_of_footer-top span_1_of_footer-top">
                <ul class="f_list">
                    <li><img src="{% static 'images/f_icon.png' %}" alt=""/><span class="delivery">จัดส่งด่วน ได้รับสินค้าอย่างรวดเร็ว</span>
                    </li>
                </ul>
            </div>
            <div class="col_1_of_footer-top span_1_of_footer-top">
                <ul class="f_list">
                    <li><img src="{% static 'images/f_icon1.png' %}" alt=""/><span class="delivery">CALL CENTER : 083-064-5249 (9:00-20:00)</span>
                    </li>
                </ul>
            </div>
            <div class="col_1_of_footer-top span_1_of_footer-top">
                <ul class="f_list">
                    <li><img src="{% static 'images/f_icon2.png' %}" alt=""/><span class="delivery">สั่งซื้อสินค้าได้ตลอด 24 ชั่วโมง</span>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="footer-middle">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_middle span_1_of_middle">
                    <ul class="f_list1">
                        <li>
                            <span class="m_8">&nbsp;</span>
                        </li>
                    </ul>
                </div>

                <div class="col_1_of_middle span_1_of_middle">
                    <ul class="f_list1">
                        <li>
                            <div class="search">
                                <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Search';}">
                                <input type="submit" value="Subscribe" id="submit" name="submit">
                                <div id="response"></div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_5 span_1_of_5">
                    <h3 class="m_9">หมวดหมู่</h3>
                    {% footer_menu_categories %}
                </div>

                <div class="col_1_of_5 span_1_of_5">
                    <h3 class="m_9">ข้อมูล</h3>
                    <ul class="list1">
                        <li><a href="{% url 'shop:payment' %}">แจ้งชำระเงิน</a></li>
                        <li><a href="#">วิธีการสั่งซื้อ</a></li>
                        <li><a href="#">ติดต่อเรา</a></li>
                        <li><a href="#">เกี่ยวกับเรา</a></li>
                    </ul>
                </div>

                <div class="col_1_of_5 span_1_of_5">
                    <h3 class="m_9">บัญชีของฉัน</h3>
                    <ul class="list1">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <li><a href="{% url 'backend:dashboard' %}">ระบบหลังร้าน</a></li>
                            {% endif %}
                            <li><a href="#">ข้อมูลส่วนตัว</a></li>
                            <li><a href="{% url 'shop:cart' %}">ตระกร้าสินค้า</a></li>
                            <li><a href="{% url 'shop:logout' %}?next={% url 'shop:index' %}">ออกจากระบบ</a></li>
                        {% else %}
                            <li><a href="{% url 'shop:login' %}">เข้าสู่ระบบ</a></li>
                            <li><a href="{% url 'shop:signup' %}">สมัครสมาชิก</a></li>
                        {% endif %}
                    </ul>


                </div>

                <div class="col_1_of_5 span_1_of_5">
                    <h3 class="m_9">ติดต่อเรา</h3>
                    <ul class="list1">
                        <li style="margin-bottom: 10px;">AQUANINE&reg; HIP STREET</li>
                        <li><a href="#"><span class="fontawesome-circle"><i class="fa fa-phone"></i></span> 083-064-5249
                            (9:00-20:00)</a></li>
                        <li><a href="#"><span class="fontawesome-circle"><i class="fa fa-envelope"></i></span>
                            aquanineth@gmail.com</a></li>
                        <li><a href="#"><span class="fontawesome-circle"><i class="fa fa-map-marker"></i></span>
                            สวนจตุจักร โครงการ 16 ซอย 24/4 ห้องเลขที่ 147 ถนน กำแพงเพชร 2 แขวง จตุจักร เขต จตุจักร
                            กรุงเทพมหานคร 10900</a></li>
                    </ul>
                </div>

                <!-- <div class="col_1_of_5 span_1_of_5">
                  <h3 class="m_9">Info</h3>
                  <ul class="sub_list2">
                    <li style="list-style: none; display: inline">
                      <h4 class="m_10">Follow Us</h4>
                    </li>
                    <li><a href="https://www.facebook.com/AQUANINE" target="_blank">Facebook</a></li>
                    <li><a href="https://goo.gl/DnJvtW" target="_blank">Line</a></li>
                    <li><a href="https://www.instagram.com/aquanine" target="_blank">Instagram</a></li>
                    <li><a href="https://www.youtube.com/channel/UCQ49za6obXLYh0BJQeTJa_Q" target="_blank">Youtube</a></li>
                  </ul>
                </div> -->
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="copy">
        <div class="wrap">
            <p>Copyright &reg; 2016, Aquanine Brand All right Reserved.</p>
        </div>
    </div>
</div>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
