{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    Home
{% endblock %}

{% block main_css %}
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/owl-carousel/owl.carousel.css' %}">
    <!-- Default Theme -->
    <link rel="stylesheet" href="{% static 'assets/owl-carousel/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/toolbar/jquery.toolbar.css' %}">
{% endblock %}

{% block main_content %}
    <div class="index-banner">
        {% if announces.count > 0 %}
            <div id="owl-carousel" class="owl-carousel owl-theme">
                {% for announce in announces %}
                    <div class="item">
                        <img class="lazyOwl" src="{{ MEDIA_URL }}{{ announce.image }}" alt="{{ announce.name }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="main">
        <div class="wrap">
            <div class="content-top">
                <div class="lsidebar span_1_of_c1">
                    <p></p>
                </div>
                <div class="cont span_2_of_c1">
                    <div class="social">
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/AQUANINE" target="_blank"><span> </span></a>
                                <div class="radius"><img src="{% static 'images/radius.png' %}"></div>
                                <div class="border"><p class="num"></p></div>
                            </li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="line">
                                <a href="https://goo.gl/DnJvtW" target="_blank"><span> </span></a>
                                <div class="radius"><img src="{% static 'images/radius.png' %}"></div>
                                <div class="border"><p class="num"></p></div>
                            </li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="instagram">
                                <a href="https://www.instagram.com/aquanine" target="_blank"><span> </span></a>
                                <div class="radius"><img src="{% static 'images/radius.png' %}"></div>
                                <div class="border"><p class="num"></p></div>
                            </li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="youtube">
                                <a href="https://www.youtube.com/channel/UCQ49za6obXLYh0BJQeTJa_Q"><span> </span></a>
                                <div class="radius"><img src="{% static 'images/radius.png' %}"></div>
                                <div class="border"><p class="num"></p></div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="content-bottom">
                {% if products.count >= 0 %}
                    <div class="box1">
                        {% for product in products %}
                            <div class="col_1_of_3 span_1_of_3">
                                <a href="{% url 'shop:product_detail' product.slug %}">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1">{{ product.name }}{% if product.color %} - {{ product.color }}{% endif %}</h3>
                                            <p class="m_2">รหัส: {{ product.code }}</p>
                                            <div class="grid_img">
                                                <div class="css3"><img src="{{ MEDIA_URL }}{{ product.image }}"
                                                                       alt="{{ product.name }}"></div>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                            </div>
                                            <div class="price">
                                                {% if product.discount != None %}
                                                    <span class="text-danger"
                                                          style="font-size: 30px;">&#3647;{{ product.discount }}</span>
                                                    <span style="text-decoration: line-through;font-size: 15px;">&#3647;{{ product.price }}</span>
                                                {% else %}
                                                    <span>&#3647;{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rating text-center">
                                      {% if product.discount != None %}
                                          <span class="text-danger">Save {{ product|discount_percent }}</span>
                                      {% else %}
                                          &nbsp;
                                      {% endif %}
                                    </span>
                                    <ul class="list"
                                        data-items='[{% for item in product.stock_set.all %}{"id":{{ item.id }}, "name":"{{ item.size }}"}{% if not forloop.last %},{% endif %}{% endfor %}]'>
                                        <li>
                                            <img src="{% static 'images/plus.png' %}" alt=""/>
                                            <ul class="icon1 sub-icon1 profile_img">
                                                <li><a class="active-icon c1" href="#">Add Carts</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                                <div class="clear"></div>
                                </a>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="clear"></div>
                                </div>
                                <div class="box1">
                            {% endif %}
                        {% endfor %}
                        <div class="clear"></div>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block main_include_js %}
    <script type="text/javascript" src="{% static 'assets/owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/toolbar/jquery.toolbar.min.js' %}"></script>
{% endblock %}

{% block main_script_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#owl-carousel").owlCarousel({
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                lazyLoad: true,
                autoPlay: true
            });
        });

        $('.list').toolbar({
            style: 'primary',
            event: 'click',
            hideOnClick: true
        }).on('toolbarShown', function () {
            items = $(this).data('items');
            $('.tool-items').html('');
            $.each(items, function (key, val) {
                $('.tool-items').append('<a href="#" data-id="' + val.id + '" onclick="return add_cart(' + val.id + ');" class="tool-item text-white text-uppercase">' + val.name + '</a>');
            });

            console.log(typeof $(this).data('items'));
            console.log(items);
        });

        function add_cart(id) {
            console.log(id);
            $.post("{% url 'shop:cart' %}", {items: id}, function (data, status) {
                console.log(data);
                notify(data.message, 'success');
                $('span.item_count').text(data.total_items);
            });
            return false;
        }
    </script>
{% endblock %}