{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    Login
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap">
            <div class="col_1_of_login span_1_of_login">
                <h4 class="title">New Customers</h4>
                <!-- <h5 class="sub_title">Register Account</h5> -->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                    dolor in
                    hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                    vero
                    eros et accumsan</p>
                <div class="button1">
                    <a href="{% url 'shop:signup' %}"><input type="submit" name="Submit" value="Sign Up"></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="col_1_of_login span_1_of_login">
                <div class="login-title">
                    <h4 class="title">Registered Customers</h4>
                    <div class="comments-area">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <p>
                                <label for="id_username">
                                    Username:
                                    {% for error in form.username.errors %}
                                        <span class="text-danger">{{ error|escape }}</span>
                                    {% endfor %}
                                </label>
                                {{ form.username }}
                            </p>
                            <p>
                                <label for="id_password">
                                    Password:
                                    {% for error in form.password.errors %}
                                        <span class="text-danger">{{ error|escape }}</span>
                                    {% endfor %}
                                </label>
                                {{ form.password }}
                            </p>
                            <p id="login-form-remember">
                                <label><a href="#">Forget Your Password ? </a></label>
                            </p>
                            <p>
                                <input type="submit" value="Login">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block main_script_js %}
    <script type="text/javascript">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                notify('{{ error }}', 'error');
            {% endfor %}
        {% endif %}
    </script>

{% endblock %}