<div class="wrap nav">
    <div class="search search-nav invisible">
        <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'Search';}">
        <input type="submit" value="Subscribe" id="submit" name="submit">
        <div id="response"></div>
    </div>
    <!-- start header menu -->
    <ul class="megamenu skyblue">
        <li><a class="color1" href="{% url 'shop:index' %}">Home</a></li>
        <li><a class="color2" href="{% url 'shop:product_list' %}">Products</a></li>
        <li><a class="color3" href="{% url 'shop:article_list' %}">Article</a></li>
        <li><a class="color4" href="#">About Us</a></li>
        <li><a class="color5" href="#">Contact Us</a></li>
    </ul>
    <div class="clear"></div>
</div>