{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    Order
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap">
            <div style="background-color: #999999; color: #ffffff; padding: 10px; margin-bottom: 10px;">
                <h3 style="font-size: 1.17em">หมายเลขคำสั่งซื้อ (Order ID): {{ order.id|stringformat:"06d" }}</h3>
            </div>
            <p style="font-size: .8em; margin-bottom: 10px;">ระบบส่งรายละเอียดการสั่งซื้อทั้งหมดไปให้คุณทางอีเมลแล้วที่
                <span class="text-danger">{{ order.member.user.email }}</span> (ถ้าไม่ได้รับอีเมลลองเช็คดูที่ Junk mail หรือ Trash
                Box หรือ กล่องอีเมลขยะ)</p>
            <table class="table table-border" style="margin-bottom: 20px;">
                <tr>
                    <td style="background-color: #CCCCCC; padding: 10px 20px;">ยอดโอนเงินทั้งหมด</td>
                    <td class="text-center" style="padding: 10px 20px;">
                        <h3 style="font-size: 1.17em">{{ order.cart.total }} บาท</h3>
                    </td>
                    <td style="padding: 10px 20px;">
                        <p>กรุณาชำระเงินภายใน <span class="text-danger">48 ชม.</span> หลังจากนั้น Order นี้จะถูกยกเลิก
                        </p>
                        <p>กรุณาชำระเงินเป็นเศษสตางค์(จุดทศนิยม)เท่าไหร่ก็ได้ เช่น {{ order.cart.total|floatformat:0 }}.07
                            หลังจากโอนเงินแล้ว<a href="#">สามารถแจ้งการโอนเงินได้ที่นี่</a> หรือทาง Line: @aquanine
                            หรือคลิ๊ก <a href="http://line.me/ti/p/%40aquanine" target="_blank">http://line.me/ti/p/@aquanine</a>
                        </p>
                        <p>สินค้าจะถูกจัดส่งภายในวันทำการถัดไป หลังจากที่การชำระเงินเรียบร้อยแล้ว</p>
                        <p>เมื่อส่งสินค้าแล้ว เราจะแจ้งเลขพัสดุให้ทาง email, sms</p>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #CCCCCC; padding: 10px 20px;">รายละเอียดบัญชีโอนเงิน</td>
                    <td colspan="2" style="padding: 10px 20px;">
                        <p style="font-size: .8em; margin-bottom: 10px;">
                            ท่านสามารถเลือกโอนเงินเข้าบัญชีธนาคารใดก็ได้ที่ท่านสะดวกดังต่อไปนี้</p>
                        <p>ชื่อบัญชี นายอธิเมศร์ อิทธิธรรมพัชร์</p>
                        <p>ประเภท บัญชีออมทรัพย์</p>
                        <table style="margin-bottom: 10px;">
                            <tr>
                                <td style="padding-right: 5px;"><img src="{% static 'images/bank_kbank.jpg' %}"
                                                                     alt="kbank" style="width: auto; height: auto;">
                                </td>
                                <td style="padding-right: 20px;">ธนาคาร กสิกรไทย</td>
                                <td style="padding-right: 20px;">เลขบัญชี 732-2-59507-3</td>
                                <td>สาขา เดอะมอลล์บางกะปิ</td>
                            </tr>
                            <tr>
                                <td style="padding-right: 5px;"><img src="{% static 'images/bank_scb.jpg' %}"
                                                                     alt="kbank" style="width: auto; height: auto;">
                                </td>
                                <td style="padding-right: 20px;">ธนาคาร ไทยพานิชย์</td>
                                <td style="padding-right: 20px;">เลขบัญชี 181-209107-3</td>
                                <td>สาขา ตลาดยิ่งเจริญ</td>
                            </tr>
                        </table>
                        <p style="font-size: .8em;">** หลังจากโอนเงินแล้ว อย่าลืมแจ้งโอนเงินที่หน้า "<span
                                class="text-primary">แจ้งชำระเงิน</span>" หรือทาง Line: @aquanine หรือคลิ๊ก <a
                                href="http://line.me/ti/p/%40aquanine" target="_blank">http://line.me/ti/p/@aquanine</a>
                            ด้วยนะคะ</p>
                    </td>
                </tr>
            </table>
            <table class="table table-border">
                <thead>
                <tr>
                    <th>สินค้าจะถูกส่งไปตามที่อยู่ด้านล่างนี้</th>
                    <th>วิธีการจัดส่งสินค้า</th>
                    <th>วิธีการชำระเงินที่เลือก</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>{{ order.member.user.first_name }} {{ order.member.user.last_name }}</p>
                        <p>เบอร์โทรศัพท์ {{ order.member.phone }}</p>
                        <p>{{ order.member.address }}</p>
                        <p>{{ order.member.province }} {{ order.member.zipcode }}</p>
                    </td>
                    <td>
                        <p>จัดส่งแบบ <span style="font-weight: bold;">{{ order.deliver_by|deliver_to_name }}</span></p>
                        <p>(โดยไปรษณีย์ไทย)</p></td>
                    <td>
                        <p>โอนเงินทางธนาคาร</p>
                        <p><img src="{% static 'images/icon_footer_bank.jpg' %}" alt="bank transfer"
                                style="height: auto; width: auto;"></p>
                    </td>
                </tr>
                </tbody>
            </table>
            <table id="cart" class="table" style="margin-bottom: 0;">
                <thead>
                <tr>
                    <th>รูปสินค้า</th>
                    <th>รหัสสินค้า</th>
                    <th>ชื่อสินค้า</th>
                    <th>ขนาด</th>
                    <th>ราคาสินค้า</th>
                    <th>จำนวน</th>
                    <th>ราคารวม</th>
                </tr>
                </thead>
                <tbody>
                {% for its in items %}
                    <tr class="productitm">
                        <td><img src="{{ MEDIA_URL }}{{ its.item.product.image }}" class="thumb"></td>
                        <td>{{ its.item.product.code|upper }}</td>
                        <td>{{ its.item.product.name }}</td>
                        <td>{{ its.item.size|upper }}</td>
                        <td>{{ its.item.product.price }}</td>
                        <td>{{ its.quantity }}</td>
                        <td class="total-price">{{ its.quantity|item_total_price:its.item.product.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <tr>
                    <td style="width: 59%;"></td>
                    <td style="width: 2%;"></td>
                    <td style="width: 39%;">
                        <table style="width: 100%; background-color: #EEEEEE">
                            <tr>
                                <td colspan="2" style="padding: 10px 20px;">ราคารวมของสินค้า</td>
                                <td colspan="2" class="text-right"
                                    style="padding-right: 20px;">{{ order.cart.product_total }} บาท
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 10px 20px;">ค่าจัดส่ง</td>
                                <td colspan="2" class="text-right"
                                    style="padding-right: 20px;">{{ order.cart.tax_delivery }} บาท
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 10px 20px;"><b>ราคารวมทั้งหมด</b></td>
                                <td colspan="2" class="text-right" style="padding-right: 20px;">
                                    <b>{{ order.cart.total }} บาท</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}