{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    Product
{% endblock %}

{% block main_css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/etalage.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jquery-labelauty/source/jquery-labelauty.css' %}">

{% endblock %}

{% block main_content %}
    {{ product.gallery }}
    <div class="single">
        <div class="wrap">
            <div class="rsidebar span_1_of_left">
                {% include 'shop/../tags/filter-menu.html' %}
            </div>
            <div class="cont span_2_of_3">
                <div class="labout span_1_of_a1">
                    <!-- start product_slider -->
                    <ul id="etalage">
                        <li>
                            <img class="etalage_thumb_image" src="{{ MEDIA_URL }}{{ product.image }}">
                            <img class="etalage_source_image" src="{{ MEDIA_URL }}{{ product.image }}">
                        </li>
                        {% for gallery in product.gallery_set.all %}
                            <li>
                                <img class="etalage_thumb_image" src="{{ MEDIA_URL }}{{ gallery.image }}">
                                <img class="etalage_source_image" src="{{ MEDIA_URL }}{{ gallery.image }}">
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- end product_slider -->
                </div>
                <div class="cont1 span_2_of_a1">
                    <h3 class="m_3">{{ product.name }}{% if product.color %} - {{ product.color }}{% endif %}</h3>
                    <span>รหัส: {{ product.code }}</span>
                    <div class="price_single">
                        {% if product.discount != None %}
                            <span class="reducedfrom">&#3647;{{ product.price }}</span>
                            <span class="actual">&#3647;{{ product.discount }}</span><br>
                            <a href="#">Save {{ product|discount_percent }}</a>
                        {% else %}
                            <span class="reducedfrom" style="text-decoration: none">&#3647;{{ product.price }}</span>
                        {% endif %}
                    </div>
                    <form action="{% url 'shop:cart' %}" method="post">
                        <ul class="options">
                            <h4 class="m_9">Select a Size</h4>
                            {% if product.stock_set.all.count > 0 %}
                                {% for item in product.stock_set.all %}
                                    <li><input name="items" class="size" type="checkbox"
                                               data-labelauty="{{ item.size|upper }}" value="{{ item.id }}"></li>
                                {% endfor %}
                            {% endif %}
                            <div class="clear"></div>
                        </ul>
                        <div class="btn_form">
                            <input type="submit" class="btn" value="Buy Now">
                        </div>
                    </form>
                    <ul class="add-to-links">
                        <li><img src="{% static 'images/wish.png' %}" alt="Wishlist Icon"><a href="#">Add to
                            wishlist</a></li>
                    </ul>
                    <div class="social_single">
                        <ul>
                            <li class="fb"><a href="#"><span> </span></a></li>
                            <li class="tw"><a href="#"><span> </span></a></li>
                            <li class="g_plus"><a href="#"><span> </span></a></li>
                            <li class="rss"><a href="#"><span> </span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>

                {% if products_show.count > 0 %}
                    <ul id="flexisel">
                        {% for show in products_show %}
                            <li>
                                <img src="{{ MEDIA_URL }}{{ show.image }}">
                                <div class="grid-flex">
                                    <a href="{% url 'shop:product_detail' show.id %}">{{ show.name }}{% if product.color %} - {{ product.color }}{% endif %}</a>
                                    {% if show.discount != None %}
                                        <p style="text-decoration: line-through;">&#3647;{{ show.price }}</p>
                                        <p style="color: #a94442;">&#3647;{{ show.discount }}</p>
                                    {% else %}
                                        <p>&#3647;{{ show.price }}</p>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="toogle">
                    <h3 class="m_3">Product Details</h3>
                    <p class="m_text">{{ product.detail|safe }}</p>
                </div>
                <br><br><br>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block main_include_js %}
    <script src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
    <script src="{% static 'js/jquery.etalage.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexisel.js' %}"></script>
    <script src="{% static 'vendors/jquery-labelauty/source/jquery-labelauty.js' %}"></script>
{% endblock %}

{% block main_script_js %}
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexisel").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });
        });

        $(document).ready(function () {
            $('.scroll-pane').jScrollPane();
            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 300,
                source_image_width: 900,
                source_image_height: 900,
                show_hint: true,
                show_icon: false
            });
            // This is for the dropdown list example:
            $('.dropdownlist').change(function () {
                etalage_show($(this).find('option:selected').attr('class'));
            });

            $(".size:checkbox").labelauty();
        });
    </script>
{% endblock %}