{% extends "shop/base.html" %}
{% load staticfiles product_tags %}

{% block title %}
    รายการสินค้า
{% endblock %}

{% block main_css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="wrap">
            <div class="rsidebar span_1_of_left">
                {% filter_menu params %}
            </div>
            <div class="cont span_2_of_3">
                <div class="mens-toolbar">
                    <div class="sort">
                        <div class="sort-by">
                            <label>Sort By</label>
                            <select>
                                <option value="">-----</option>
{#                                <option value="">Price : High to Low</option>#}
{#                                <option value="">Price : Low to High</option>#}
                            </select>
                            <a href=""><img src="{% static 'images/arrow2.gif' %}" alt="" class="v-middle"></a>
                        </div>
                    </div>
                    <div class="pager">
                        <div class="limiter visible-desktop">
                            <label>Show</label>
                            <select id="limit">
                                <option value="9" selected="selected">9</option>
                                <option value="15">15</option>
                                <option value="27">27</option>
                            </select>
                            per page
                        </div>
                        <ul class="dc_pagination dc_paginationA dc_paginationA06">
                            {% if products.has_previous %}
                                <li><a href="#" name="page" data-page="1"><i class="fa fa-angle-double-left"></i></a></li>
                                <li><a href="#" name="page" data-page="{{ products.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                            {% endif %}
                            <li>Pages {{ products.number }} of {{ products.paginator.num_pages }}</li>
                            {% if products.has_next %}
                                <li><a href="#" name="page" data-page="{{ products.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                                <li><a href="#" name="page" data-page="{{ products.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                            {% endif %}
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                {% if products.count >= 0 %}
                    <div class="box1">
                        {% for product in products %}
                            <div class="col_1_of_3 span_1_of_3">
                                <a href="{% url 'shop:product_detail' product.slug %}">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1">{{ product.name }}{% if product.color %} - {{ product.color }}{% endif %}</h3>
                                            <p class="m_2">รหัส: {{ product.code }}</p>
                                            <div class="grid_img">
                                                <div class="css3"><img src="{{ MEDIA_URL }}{{ product.image }}"
                                                                       alt="{{ product.name }}"></div>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                            </div>
                                            <div class="price">
                                                {% if product.discount != None %}
                                                    <span class="text-danger"
                                                          style="font-size: 30px;">&#3647;{{ product.discount }}</span>
                                                    <span style="text-decoration: line-through;font-size: 15px;">&#3647;{{ product.price }}</span>
                                                {% else %}
                                                    <span>&#3647;{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rating text-center">
                                        {% if product.discount != None %}
                                            <span class="text-danger">Save {{ product|discount_percent }}</span>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </span>
                                    <ul class="list">
                                        <li>
                                            <img src="{% static 'images/plus.png' %}" alt=""/>
                                            <ul class="icon1 sub-icon1 profile_img">
                                                <li><a class="active-icon c1" href="{% url 'shop:product_detail' product.slug %}">Add Carts</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="clear"></div>
                                </div>
                                <div class="box1">
                            {% endif %}
                        {% endfor %}
                        <div class="clear"></div>
                        </div>
                {% endif %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block main_include_js %}
    <script src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
{% endblock %}

{% block main_script_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#limit option").removeAttr('selected').filter('[value={{limit}}]').attr('selected', true);
            $(".scroll-pane").jScrollPane();

            $("#limit").change(function () {
                var params = createQueryParams();
                redirect(params);
            });
            $("a[name='page']").click(function () {
                var params = createQueryParams();
                params.push('page=' + $(this).data('page'));
                redirect(params);
            });
            $("input[type='checkbox']").change(function () {
                var params = createQueryParams();
                redirect(params);
            });
        });

        function createQueryParams() {
            var params = []
            var limit = $('#limit option:selected').val();
            var colour = $("input[type='checkbox'][name='color__name_en']:checked");
            var categories = $("input[type='checkbox'][name='category__name']:checked");
            var sizes = $("input[type='checkbox'][name='stock__size']:checked");

            if (limit != 9) {
                params.push('limit=' + limit);
            }

            if (colour.length > 0) {
                var arr = [];
                var all = false;
                colour.each(function (key, val) {
                    arr.push(val.value);
                    if (val.value === 'all') {
                        all = true;
                    }
                });
                if (all === false) {
                    params.push('color__name_en=' + arr.join(','));
                }
            }

            if (categories.length > 0) {
                var arr = [];
                var all = false;
                categories.each(function (key, val) {
                    arr.push(val.value);
                    if (val.value === 'all') {
                        all = true;
                    }
                });
                if (all === false) {
                    params.push('category__name=' + arr.join(','));
                }
            }

            if (sizes.length > 0) {
                var arr = [];
                var all = false;
                sizes.each(function (key, val) {
                    arr.push(val.value);
                    if (val.value === 'all') {
                        all = true;
                    }
                });
                if (all === false) {
                    params.push('stock__size=' + arr.join(','));
                }
            }
            return params;
        }

        function redirect(params) {
            if (params.length > 0) {
                window.location = '?' + params.join('&');
            } else {
                window.location = '{% url 'shop:product_list' %}';
            }
        }
    </script>
{% endblock %}