{% extends 'backend/base.html' %}
{% load staticfiles table_tags %}

{% block title %}
    {{ object }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'backend:product_list' %}">สินค้า</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ object }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="product-image">
                            <img src="{{ MEDIA_URL }}{{ object.image }}" alt="{{ object }}"/>
                        </div>

                        <div class="text-center">
                            <a href="{% url 'backend:product_change' object.id %}" class="btn btn-warning"><i
                                    class="fa fa-pencil"></i> แก้ไขข้อมูล</a>
                            <a href="{% url 'backend:product_delete' object.id %}" class="btn btn-danger"
                               onclick="return confirm('คุณต้องการลบสินค้าชิ้นนี้หรือไม่?');"><i
                                    class="fa fa-trash"></i> ลบสินค้า</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                        <h3 class="prod_title">{{ object }}</h3>
                        <h2>รหัสสินค้า :
                            <small>{{ object.code|upper }}</small>
                        </h2>
                        <h2>สี :
                            <small>{{ object.color }}</small>
                        </h2>

                        <div class="">
                            <h2>สินค้าใน Stock</h2>
                            <table class="table table-striped table-hover text-center">
                                <thead>
                                <tr>
                                    <td>Size</td>
                                    <td>Total</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in object.stock_set.all %}
                                    <tr>
                                        <td>{{ item.size|upper }}</td>
                                        <td>{{ item.total }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="">
                            <div class="product_price">
                                {% if object.discount %}
                                    <h1 class="price">ราคา:
                                        <del>{{ object.price }} บาท</del>
                                    </h1>
                                    <span class="price-tax">ลดเหลือ: {{ object.discount }} บาท</span>
                                {% else %}
                                    <h1 class="price">ราคา: {{ object.price }} บาท</h1>
                                    <span class="price-tax">ลดเหลือ: - บาท</span>
                                {% endif %}
                                <br>
                            </div>
                        </div>

                        <div>
                            <h2>Galleries</h2>
                            <div class="product_gallery">
                                {% for gallery in object.gallery_set.all %}
                                    <a>
                                        <img src="{{ MEDIA_URL }}{{ gallery.image }}" alt="{{ object }}"/>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <h4>รายละเอียดสินค้า</h4>
                        <legend class="section"></legend>
                        {% if object.detail %}
                            <p>{{ object.detail }}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}