{% extends 'backend/base.html' %}
{% load staticfiles table_tags %}

{% block title %}
    รายการสินค้า
{% endblock %}

{% block breadcrumbs %}
    <li class="active">สินค้า</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>รายการสินค้า</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="{% url 'backend:product_add' %}"><i class="fa fa-plus"></i> เพิ่มสินค้าใหม่</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% render_table products %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}