{% extends 'backend/base.html' %}
{% load staticfiles backend_tags %}

{% block title %}
    เพิ่มสินค้าใหม่
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'backend:product_list' %}">สินค้า</a></li>
    <li class="active">ใหม่</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>เพิ่มสินค้าใหม่</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal" method="POST" action="{% url 'backend:product_add' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="col-sm-1 control-label">{{ field.label }}</label>
                            {% for error in field.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="col-sm-11">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}

                        <label class="control-label">Stock Item</label>
                        {{ stock_formset.management_form }}
                        <table class="table">
                            {% for form_set in stock_formset.forms %}
                                <tr class="formset">
                                    {% for hidden in form_set.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% for field in form_set.visible_fields %}
                                        <td>
                                            <div class="form-group">
                                                <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}: </label>
                                                <div class="col-sm-9">
                                                    {% for error in field.errors %}
                                                        <strong>{{ error|escape }}</strong>
                                                    {% endfor %}
                                                    {{ field }}
                                                </div>
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>

                        <label class="control-label">Gallery</label>
                        <legend class="section"></legend>
                        {{ gallery_formset.management_form }}
                        <table class="table">
                            {% for form_set in gallery_formset.forms %}
                                <tr class="formset-image">
                                    {% for hidden in form_set.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% for field in form_set.visible_fields %}
                                        <td>
                                            <div class="form-group">
                                                <label for="{{ field.id_for_label }}" class="col-sm-12 control-label">{{ field.label }}: </label>
                                                <div class="col-sm-10">
                                                    {% for error in field.errors %}
                                                        <strong>{{ error|escape }}</strong>
                                                    {% endfor %}
                                                    {{ field }}
                                                </div>
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="text-right">
                            <button type="submit" class="btn btn-info">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        var add_txt = '<button class="btn btn-default"><i class="fa fa-plus"> Add Other</button>';
        var remove_txt = '<button class="btn btn-danger"><i class="fa fa-trash"> Remove</button>';
        $('.formset').formset({
            prefix: '{{ stock_formset.prefix }}',
            addText: add_txt,
            deleteText: remove_txt
        });
        $('.formset-image').formset({
            prefix: '{{ gallery_formset.prefix }}',
            addText: add_txt,
            deleteText: remove_txt
        });
    </script>
{% endblock %}